@page "/astrologie"

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col">
            <MatDatePicker Id="year_month_day"
                           Label="Naissance"
                           EnableTime="true"
                           Required="true"
                           Class="form-control"
                           DateFormat="d-m-Y H:i"
                           @bind-Value="@model.Datetime">
            </MatDatePicker>
        </div>
        <div class="col">
            <MatTextField Id="utc" Required="true" Class="form-control" @bind-Value="@model.utc" Label="Fuseau horraire"></MatTextField>
        </div>
        <div class="col">
            <MatTextField Id="geo_pos_ns" Required="true" Class="form-control" @bind-Value="@model.geo_pos_ns" Label="Loc. degré(s)°, minute(s)' nord/sud"></MatTextField>
        </div>
        <div class="col">
            <MatTextField Id="geo_pos_we" Required="true" Class="form-control" @bind-Value="@model.geo_pos_we" Label="Loc. degré(s)°, minute(s)' ouest/est"></MatTextField>
        </div>
    </div>
    <div style="padding-top: 1.5rem;">
        <center>
            <MatButton Type="submit">Afficher le thème natal avec la calculation des maisons selon Placidus</MatButton>
        </center>
    </div>
@if (swLoaded)
{
    <ThemeAstral Json="data" MaxWidth="390" MaxHeight="390" />
} 
</EditForm>