@page "/astrologie"

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col">
            <MatTextField 
                Id="year_month_day"
                Type="date"
                Required="true"
                Class="form-control"
                Label="Date de naissance"
                @bind-Value="@model.year_month_day" />
        </div>
        <div class="col">
            <MatTextField 
                Id="hour_min"
                Type="time"
                Required="true"
                Class="form-control"
                Label="Date de naissance"
                @bind-Value="@model.hour_min" />
        </div>
        <div class="col">
            <MatTextField Id="utc" Required="true" Class="form-control" @bind-Value="@model.utc" Label="Fuseau horaire"></MatTextField>
        </div>
        <div class="col">
            <MatTextField Id="geo_pos_ns" Required="true" Class="form-control" @bind-Value="@model.geo_pos_ns" Label="Loc. nord/sud"></MatTextField>
        </div>
        <div class="col">
            <MatTextField Id="geo_pos_we" Required="true" Class="form-control" @bind-Value="@model.geo_pos_we" Label="Loc. ouest/est"></MatTextField>
        </div>
    </div>
    <div style="padding-top: 1.5rem;">
        <center>
            <MatButton Type="submit">Afficher le thème natal avec la calculation des maisons selon Placidus</MatButton>
        </center>
    </div>
    @if (swLoaded)
    {
        <ThemeAstral Json="data" MaxWidth="390" MaxHeight="390" />
    } 
</EditForm>
