@page "/astrologie"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IMatToaster Toaster
@inject IAstrologieServiceHttp AstrologieServiceHttp
@using Services.Http
@using System.Net
@using Newtonsoft.Json
@using Struct.ImportJson
@using StephaneHomePage.Model
<AppBar Title="Astrologie" />
<MatAppBarContent>
    @if (swLoaded)
    {
        <ThemeAstral Json="data" MaxWidth="500" MaxHeight="500" />
    } else
    {
        <EditForm Model="@_model" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="year_month_day" @bind-Value="@_model.year_month_day" />
            <InputText id="hour_min" @bind-Value="@_model.hour_min" />
            <InputText id="utc" @bind-Value="@_model.utc" />
            <InputText id="geo_pos_ns" @bind-Value="@_model.geo_pos_ns" />
            <InputText id="geo_pos_we" @bind-Value="@_model.geo_pos_we" />

            <button type="submit">Submit</button>
        </EditForm>
    }
</MatAppBarContent>