@page "/astrologie"

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    @*<ValidationSummary />*@
    <div class="row">
        <div class="col">
            <MatTextField Id="year_month_day"
                          Type="date"
                          Required="true"
                          Disabled="@swLock"
                          Label="Date de naissance"
                          Class="mat-form-input"
                          @bind-Value="@model.year_month_day" />
            <ValidationMessage For="@(() => model.year_month_day)" />
        </div>
        <div class="col">
            <MatTextField Id="hour_min"
                          Type="time"
                          Required="true"
                          Disabled="@swLock"
                          Label="Heure:Minute"
                          Class="mat-form-input"
                          @bind-Value="@model.hour_min" />
            <ValidationMessage For="@(() => model.hour_min)" />
        </div>
        <div class="col">
            <MatTextField Id="Localize"
                          Required="true"
                          Disabled="@swLock"
                          Label="Lieu de naissance"
                          Class="mat-form-input"
                          @bind-Value="citySearch">
            </MatTextField>
        </div>
        @if (swSearch && !swLock)
        {
            <div class="col">
                <MatSelect Label="Confirmer lieu de naissance" Disabled="@swLock" Enhanced="true" Class="mat-form-input" @bind-Value="@citySearchId" @onchange="BindCity">
                    @foreach (var i in search)
                    {
                        <MatOption Value="@i.Id.ToString()">@i.Name (@i.Country) @i.Lat/@i.Lng</MatOption>
                    }
                </MatSelect>
            </div>
        }
        <div class="col">
            @if (!swLock)
            {
                <MatTextField Id="lat"
                              Disabled="true"
                              Required="true"
                              Label="Latitude"
                              Class="mat-form-input"
                              @bind-Value="@model.lat">
                </MatTextField>
            }
            else
            {
                <MatTextField Id="lat"
                              Disabled="true"
                              Required="true"
                              Label="Latitude"
                              Class="mat-form-input modified valid"
                              @bind-Value="@model.lat">
                </MatTextField>
            }
            <ValidationMessage For="@(() => model.lat)" />
        </div>
        <div class="col">
            @if (!swLock)
            {
                <MatTextField Id="lng"
                              Disabled="true"
                              Required="true"
                              Label="Latitude"
                              Class="mat-form-input"
                              @bind-Value="@model.lng">
                </MatTextField>
            }
            else
            {
                <MatTextField Id="lng"
                              Disabled="true"
                              Required="true"
                              Label="Latitude"
                              Class="mat-form-input modified valid"
                              @bind-Value="@model.lng">
                </MatTextField>
            }
            <ValidationMessage For="@(() => model.lng)" />
        </div>
    </div>
    <div style="padding-top: 1.5rem;">
        <center>
            @if (!swLock)
            {
                <MatButton Type="submit">Afficher le thème natal avec la calculation des maisons selon Placidus</MatButton>
            }
        </center>
    </div>
    @if (swLoaded)
    {
        <ThemeAstral Json="data" MaxWidth="@(375 * AppStateServiceCore.AppBarStruct.AstroZoom)" MaxHeight="@(375 * AppStateServiceCore.AppBarStruct.AstroZoom)" />
    }
</EditForm>

