@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Configuration;
@using System.IO;
<MatAppBar Fixed="true" Class="mat-navbar-fixed-top mat-navbar-fixed-max-width">
    <MatAppBarRow>
        <MatAppBarSection>
            <MatAppBarTitle>@Title</MatAppBarTitle>
        </MatAppBarSection>
        @if (Title == "Astrologie")
        {
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="accessibility_new" OnClick="@NewThemeOnClick"></MatIconButton>
                @if (!swSecret)
                {
                    <MatIconButton OnClick="@UnlockOnClick" Icon="lock"></MatIconButton>
                } else
                {
                    <MatIcon Icon="lock_open"></MatIcon>
                }
            </MatAppBarSection>
        }
    </MatAppBarRow>
</MatAppBar>
<MatDialog @bind-IsOpen="@unlockDialogIsOpen">
    <MatDialogTitle>Relation du thème à mes livres d'astrologie</MatDialogTitle>
    <MatDialogContent>
        <p>Mot de passe :</p>
        <MatTextField Type="password" @bind-Value="@password"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { unlockDialogIsOpen = false; })">Je ne connais pas le mot de passe</MatButton>
        <MatButton OnClick="@UnlockVerifPasswordOnClick">Ok</MatButton>
    </MatDialogActions>
</MatDialog>
<MatDialog @bind-IsOpen="@unlockDialogIsOpen2">
    <MatDialogTitle>Relation du thème à mes livres d'astrologie</MatDialogTitle>
    <MatDialogContent>
        <p>Contenu déverouillé</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { unlockDialogIsOpen2 = false; })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>
@code {
    [Parameter] public string Title { get; set; }

    bool unlockDialogIsOpen = false;
    bool unlockDialogIsOpen2 = false;
    string password = null;
    bool swSecret = false;

    public void NewThemeOnClick(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/astrologie?swRefresh=refresh");
    }

    public void UnlockOnClick(MouseEventArgs e)
    {
        unlockDialogIsOpen = true;
    }

    void UnlockVerifPasswordOnClick()
    {
        var config = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile("password.json").Build();
        if (password == config.GetSection("password").Value)
        {
            swSecret = true;
            unlockDialogIsOpen = false;
            unlockDialogIsOpen2 = true;
        }
    }
}
