<MatAppBar Fixed="true" Class="mat-navbar-fixed-top mat-navbar-fixed-max-width">
    <MatAppBarRow>
        <MatAppBarSection>
            <MatAppBarTitle>@Title</MatAppBarTitle>
        </MatAppBarSection>
        @if (Title == "Astrologie")
        {
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                @if (ShowSwAstroZoom)
                {
                    if (Zoom <= 1)
                    {
                        <MatTooltip Tooltip="+ Zoom thème astral">
                            <MatIconButton Icon="zoom_in" OnClick="@ZoomThemeInOnClick" RefBack="@context"></MatIconButton>
                        </MatTooltip>
                    } 
                    else
                    {
                        <MatTooltip Tooltip="- Zoom thème astral">
                            <MatIconButton Icon="zoom_out" OnClick="@ZoomThemeOutOnClick" RefBack="@context"></MatIconButton>
                        </MatTooltip>
                    }
                }
                <MatTooltip Tooltip="Initialiser les données">
                    <MatIconButton Icon="accessibility_new" OnClick="@NewThemeOnClick" RefBack="@context"></MatIconButton>
                </MatTooltip>
                @if (!swSecret)
                {
                    <MatTooltip Tooltip="Déverouiller">
                        <MatIconButton Icon="lock" OnClick="@UnlockOnClick" RefBack="@context"></MatIconButton>
                    </MatTooltip>
                } else
                {
                    <MatIcon Icon="lock_open"></MatIcon>
                }
            </MatAppBarSection>
        }
    </MatAppBarRow>
</MatAppBar>
<MatDialog @bind-IsOpen="@unlockDialogIsOpen">
    <MatDialogTitle>Relation du thème à mes livres d'astrologie</MatDialogTitle>
    <MatDialogContent>
        <p>Mot de passe :</p>
        <MatTextField Type="password" @bind-Value="@password"></MatTextField>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { unlockDialogIsOpen = false; })">Je ne connais pas le mot de passe</MatButton>
        <MatButton OnClick="@UnlockVerifPasswordOnClick">Ok</MatButton>
    </MatDialogActions>
</MatDialog>
<MatDialog @bind-IsOpen="@unlockDialogIsOpen2">
    <MatDialogTitle>Relation du thème à mes livres d'astrologie</MatDialogTitle>
    <MatDialogContent>
        <p>Contenu déverouillé</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { unlockDialogIsOpen2 = false; })">Ok</MatButton>
    </MatDialogActions>
</MatDialog>
