@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <MatThemeProvider Theme="@_theme">
        <MatAppBarContainer>
            <div class="mat-app-bar-title">
                <AppBar Title="@AppStateServiceCore.AppBarStruct.Title" ShowSwAstroZoom="@AppStateServiceCore.AppBarStruct.ShowSwAstroZoom" Zoom="@AppStateServiceCore.AppBarStruct.AstroZoom" LockBook="@AppStateServiceCore.AppBarStruct.LockBook"></AppBar>
            </div>
            <MatAppBarContent>
                <div class="mat-app-bar-content-body">@Body</div>
            </MatAppBarContent>
            <MatToastContainer />
        </MatAppBarContainer>
    </MatThemeProvider>
    @if (AppStateServiceCore.AppBarStruct.Title == "Page d'accueil")
    {
        <center><div class="index-background index-startup"></div></center>
    }
</div>
